<section *transloco="let t">
  <h2>{{ t("account.login.title") }}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <label for="email">
        {{ t("account.login.loginForm.email") }}
      </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        }"
      />

      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <div class="error-message">
        @if (loginForm.get('email')?.errors?.['required']) {
        <div>{{ t("forms.validation.required") }}</div>
        } @if (loginForm.get('email')?.errors?.['email']) {
        <div>{{ t("forms.validation.email") }}</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label for="password">
        {{ t("account.login.loginForm.password") }}
      </label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
        }"
      />
      <div
        class="error-message"
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        <div *ngIf="loginForm.get('password')?.errors?.['required']">
          {{ t("forms.validation.required") }}
        </div>
      </div>
    </div>

    <div>
      <a
        routerLink="/account/forgot-password"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >{{ t("account.login.forgot-password") }}</a
      >
    </div>

    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-primary"
    >
      {{ t("account.login.loginForm.login") }}
    </button>
  </form>

  <div>
    {{ t("account.login.dont-have-account") }}
    <a
      routerLink="/account/register"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >{{ t("account.login.create-account") }}</a
    >
  </div>
</section>
